@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

 *{
    /* font-family: "Poppins", sans-serif; */
    /* font-family: "Cormorant Garamond", serif; */
 } 

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    height: 10vh;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

nav ul {
  list-style: none;
}


.link{
    text-decoration: none;
    color: black;
    transition: all .3s;
}

.link:hover, .link:active{
  text-decoration: underline;
  text-shadow: 0 0 2px rgba(0,0,0,0.5);
}


.logout{
  border: none;
  background-color: rgb(192, 182, 182);
  transition: all .3s;
}

.logout:hover , .logout:active {
  background-color: rgb(88, 85, 85);
  color: #fff;
}